<!-- <div>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ user.email }}</h4>
  </div>
  <a style="cursor: pointer" class="list-group-item clearfix">
    <span class="pull-right">
      <p class="list-group-item-text">Consulter</p>
 
    </span>
  </a>
</div> -->


  <li class="list-group-item d-flex justify-content-between align-items-start ">
    <div class="ms-2 me-auto p-3">
      <div class="fw-bold">{{ user.email }}</div>
    </div>

    <div class="mt-3">
      <a style="cursor: pointer" (click)="onSelect()">
        <span class="badge bg-primary rounded-pill">Consulter</span>
      </a>
    </div>
  </li>

