<div class="row">
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn"  style="background-color: rgb(227, 162, 223); color: white;">Nouveau utilisateur</button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group list-group-flush">
          <app-user-item
            *ngFor="let userElm of users"
            [user]="userElm"
            (userSelected)="onUserSelected(userElm)"
          >
          </app-user-item>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>

